.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 4px; */
  border: 1px solid rgb(33, 70, 104);
  background-color: rgb(165, 184, 202);
  overflow: hidden;
}

.box h3 {
  display: block;
  width: 100%;
  height: 1.5rem;
  margin: 0;
  background-color: rgb(69, 110, 148); /* old: rgb(165, 164, 164) */
  color: rgb(33, 70, 104);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.4;
  /* border-radius: 3px 3px 0 0; */
}

.weekendBox {
  background-color: rgb(207, 218, 230); /* old: rgb(251, 228, 153) */
}

.weekendBox:not(.empty) h3 {
  background-color: rgb(139, 168, 196); /* old: rgb(245, 209, 91) */
}

.empty {
  background-color: rgb(13, 26, 37);
  border-color: transparent;
}

.box.empty h3 {
  background-color: rgb(7, 15, 22);
}

.onDrop {
  background-color: pink;
}

.box ul {
  list-style-type: none;
  text-decoration: none;
  width: 100%;
  padding: .2rem;
  margin: 0;
}
