.scale {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.5rem;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  bottom: 0.45rem;
  right: 0.2rem;
  height: calc(100% - 2rem);
}

.scale > li {
  letter-spacing: 0;
  height: calc(10% - 0.05rem);
  width: 2.5rem;
  text-align: right;
}
