.titleBar {
    list-style-type: none;
    text-decoration: none;
    padding: 1rem .5rem 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

.titleBar h3 {
    font-family: monospace;
    margin: 0;
    text-align: center;
    padding: .75rem .5rem;
}

.titleBar li:first-of-type {
    border-radius: 25px 0 0 25px;
}

.titleBar li:last-of-type {
    border-radius: 0 25px 25px 0;
}

.titleBar.isExpand {
    width: calc(100% - 3rem);
}