.row {
  padding: 0;
  margin: 1px 0;
  list-style-type: none;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  transition: height 0.5s ease-out;
  gap: 1px;
  overflow: hidden;
}

.basic {
  height: 7rem;
}

.isExpand {
  height: 36rem;
}

.shrinkOut {
  animation: shrink-out 0.5s ease-out;
}

.shrinkBack {
  animation: shrink-back 0.5s ease-out;
}

@keyframes shrink-out {
  from {
    height: 7rem;
  }
  to {
    height: 0rem;
  }
}

@keyframes shrink-back {
  from {
    height: 0rem;
  }
  to {
    height: 7rem;
  }
}