.card {
  width: 400px;
  height: 400px;
  position: fixed;
  z-index: 10;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
  border-radius: 12px;
  background-color: rgb(78, 37, 37);
  color: white;
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

.card h4 {
  color: rgb(218, 185, 1);
}

.control {
  margin: 0 1rem 0.5rem;
}

.control:first-of-type {
  margin: 1rem 1rem 0.5rem;
}

.control h4,
.control p {
  margin: 0.3rem 0;
}

.control textarea {
  width: 100%;
}

.control p,
.control textarea {
  max-height: 7rem;
  overflow: auto;
}

.mark {
  display: flex;
  margin: 0.3rem 1rem;
}

.mark h4 {
  margin: 0;
}

.mark p {
  margin: 0 0 0 1rem;
  min-width: 3rem;
}

.level {
  width: 8rem;
}

.tag {
  width: 7rem;
}

.mark input {
  width: 9rem;
  font-size: 0.7rem;
}

.control input,
.control textarea,
.mark input,
.mark select {
  display: block;
  background-color: rgb(218, 185, 1);
  border: none;
  font-weight: bold;
  font-size: 0.8rem;
  border-radius: 2px;
}

.control input:focus,
.control textarea:focus,
.mark input:focus,
.mark select:focus {
  outline: none;
}

.mark input,
.mark select {
  margin-left: 1rem;
}

.actions {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: auto;
}

.actions button {
  margin: auto 1rem 1rem;
  color: rgb(78, 37, 37);
  border: 1px solid rgb(78, 37, 37);
  border-radius: 4px;
  padding: 0.2rem 0.5rem;
  font-weight: bold;
  width: 4.5rem;
}

.actions button:first-of-type {
  margin-right: 0;
}

.actions button:hover {
  background-color: rgb(195, 5, 5);
  border-color: rgb(195, 5, 5);
  color: white;
  transition: all 0.2s;
}
